.jumbotron{
	background-color: rgb(232, 230, 237);
}
.my-large-text{
  font-size: 20px;
}
#abc{
  background-color: green;
}

#abc:hover{
  background-color: lightgreen;
}

.A7{
	font-weight: Bold;
	font-family: cursive;
	font-size:1.5em;
}

.A7:hover{
	background-color: rgb(130, 222, 238);
}

.card-header{
	text-align:center;
	background-color: rgb(234, 216, 240);
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.lead{
	font-size:1.9rem;
	font-weight: 600;
	font-family: Curlz MT;
}

.display-4{
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	font-family: Lucida calligraphy ;
}

.nav-link:hover{
	background-color: rgb(130, 222, 238);
}
.A25{
	font-weight:Bold;
	margin-left:30px;
	font-size:1.15em;
	font-family: cursive;
}
.A26{
	color:rgb(24, 56, 107);
}

.A6{
	font-weight:Bold;
	margin-left: 30px;
	font-size: 1.15em;
	font-family: cursive;
}



.A11{
	margin-bottom: 0px;
}

.A12{
	padding-bottom: 15px;
	padding-top: 20px;
}

.A13{
	padding-top: 20px;
	padding-bottom: 4px;
}

.A14{
	padding-bottom: 65px;
	padding-top: 27px;
}



.A18{
	/*background-color: #4B515D;*/
	/*background-color: #ce93d8;*/
	background-color: rgba(0, 0, 0, 0.7) ;
	border: 1px solid #707070;
	border-radius: 50px 50px 0px 0px;
	opacity: 1;
	}



.A15{
	font-weight: bold;
	font-size: 2.0em;
	text-transform: uppercase;
	color:darkgrey;
}

.A24{
	font-weight: bold;
	font-size: 2.0em;
	text-transform: uppercase;
	color:darkgrey;

}

.A17{
	font-weight: bold;
	font-size: 2.0em;
	text-transform: uppercase;
	color:darkgrey;

}

.A19{
	color: lightblue;

}

.A20{
	margin-top:-10px;
	font-size:34px;
	color: lightblue;

}

.A21{
	margin-top:-10px;
	font-size:34px;
	margin-bottom: -10px;
	color: lightblue;

}

.A22{
	margin-bottom:45px;
}

.A30{
	text-align: justify;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-family: cursive;
}

.A999{
	padding-top: 32px;
}
